body,a,ul,ol,li,input,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    border: 0;
}
a{
    text-decoration: none;
}
/*消除默认样式*/
a,button{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
button{
	-webkit-appearance: none;
}
body{
	/*禁止用户设置字体大小*/
	-webkit-text-size-adjust: 100%;
	/*禁止文字选中*/
	-webkit-user-select: none;
}
html,body{
	width:7.5rem;height:13.34rem;overflow: hidden;
}
/*首页*/
.iconfont{
	font-size: 0.4rem;
}
#wrapper{
	width:100%;height:12rem;background: #F2F2F2;overflow: hidden;position: absolute;top:0;left:0;
}
/*banner*/
.banner,.swiper-wrapper,.swiper-wrapper li{
	width:100%;height:4rem;
}
.banner .swiper-pagination-bullet {
    display: inline-block;
    border-radius: 50%;
    background: #333;
    opacity: 0.4;
}
.swiper-pagination{
	width:100%;height:0.9rem;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0.2rem;
}
.banner .swiper-pagination-bullet-active {
    opacity: 1;
    background: #FFF;
}
.banner .swiper-slide img{
	width:100%;
}

/*list*/
.list-box{
	background:#fff;padding:0.1rem 0;
}
.list{
	width:100%;height:3.1rem;font-size:0.3rem;display: flex;flex-direction: row;flex-wrap: wrap;align-content:space-around;text-align: center;line-height: 0.6rem;padding-top:0.1rem;
}
.list li{
	width:25%;height:50%;
}
.list li span{
	display:block;width:0.9rem;height:0.9rem;background:blue;border-radius:50%;margin: 0 auto;color:#fff;text-align: center;line-height: 1rem;font-size: 0.5rem;
}
.list li a{
	color:#333;font-size:0.25rem;
}
/*hot*/
.hot{
	background: #fff;margin:0.2rem 0;font-size:0.3rem;overflow: hidden;
}
.hot-title{
	width:100%;height:0.7rem;line-height: 0.7rem;
}
.hot-title span:nth-child(1){
	display:block;width:0.04rem;height:0.7rem;background:#F57A81;float: left;
}
.hot-title span:nth-child(2){
	margin-left:0.3rem;
}
.hot-con{
	width: 100%;padding:0.1rem 0.3rem;box-sizing: border-box;display: flex;justify-content: space-between;
}
.hot-con li{
	float: left;width:2.1rem;height:3rem;line-height: 0.4rem;font-size:0.25rem;
}
.hot-con li .hot-img{
	width:2.2rem;height:2.2rem;background-size:cover;margin-bottom:0.1rem;
}

/*new*/
.hot .hot-title .new-shu{
	background:#65C9AA;
}
.new .hot-con{
	flex-direction: column;align-items: center;padding-bottom: 0;
}
.new .hot-con li{
	height:1.3rem;width:100%;line-height:0.5rem;
}
.new .hot-con li:last-child{
	height:1rem;border-top: 0.03rem solid #ccc;text-align: center;line-height: 1rem;
}
.new .hot-con li .hot-img{
	width: 1rem;height:1rem;float: left;
}
.new .hot-con li span{
	margin-left:0.3rem;color:#999;
}
.new .hot-con li span:nth-child(2){
	color:#333;
}
/*推荐*/
.tuijian .hot-con li{
	height:2rem;width:1.5rem;line-height:0.5rem;text-align: center;
}
.tuijian .hot-con li .hot-img{
	width: 1.5rem;height:1.5rem;float: left;border-radius: 50%;
}
.tuijian .more{
	height:1rem;border-top: 0.03rem solid #ccc;text-align: center;line-height: 1rem;font-size:0.25rem;
}

/*dibu*/
footer{
	width:7.5rem;height:1.3rem;display:flex;font-size: 0.4rem;justify-content: space-around;align-items:center;position: absolute;bottom: 0;left: 0;background:#373B3D;color:#fff;font-size:0.25rem;position: absolute;bottom: 0;left: 0;
}
footer a{
	display:block;width:1.5rem;height:100%;line-height: 0.45rem;text-align: center;cursor: pointer;color:#fff;box-sizing: border-box;padding-top:0.3rem;
}
footer a .iconfont{
	font-size:0.5rem;
}
footer .active{
	background:#282C2E;
}
