body,a,ul,ol,li,input,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    border: 0;
}
a{
    text-decoration: none;
}
/*消除默认样式*/
a,button{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
button{
	-webkit-appearance: none;
}
body{
	/*禁止用户设置字体大小*/
	-webkit-text-size-adjust: 100%;
	/*禁止文字选中*/
	-webkit-user-select: none;
}
html,body{
	width:7.5rem;height:13.34rem;overflow: hidden;
}
/*dingbu*/
header{
	width:7.5rem;height:1.3rem;bottom: 0;left: 0;position: absolute;top: 0;left: 0;margin-left:0.3rem;line-height: 1.4rem;
}
header a{
	font-size: 1rem;color:#fff;
}
.shadow{
	width:7.5rem;height:0.01rem;box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,.8);position: absolute;top:0;left:0;z-index: 9;
}

.bg{
	background:url(../img/showbg1.png) center;background-size:cover;width:7.5rem;height:7.5rem;font-size:0.3rem;display: flex;justify-content: space-around;align-items: flex-end;
}
.bg span{
	color:#fff;margin-bottom:0.3rem;
}
.bg span:nth-child(2){
	margin-left: 0.3rem;font-size:0.27rem;
}
.btn{
	width:7.5rem;height:2rem;font-size:0.6rem;position: relative;
}
.btn .up{
	width: 0.8rem;height:0.8rem;box-shadow: 0 0 0.5rem #999;border-radius: 50%;text-align: center;line-height: 0.9rem;position:absolute;top:0;bottom:0;left:1.8rem;margin:auto;color:#888;
}
.btn .center{
	width: 1rem;height:1rem;box-shadow: 0 0 0.5rem #999;border-radius: 50%;text-align: center;line-height: 1.2rem;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;color:#555;
}
.btn .down{
	width: 0.8rem;height:0.8rem;box-shadow: 0 0 0.5rem #999;border-radius: 50%;text-align: center;line-height: 0.9rem;position:absolute;top:0;bottom:0;left:4.85rem;margin:auto;color:#888;
}
.btn .progress-time{
	position: absolute;right:0;top:0;bottom:0;margin:auto;font-size:0.25rem;color:#999;line-height: 1.8rem;
}
.btn .progress{
	width: 7.5rem;height:0.1rem;background:#ccc;position: absolute;bottom:0;left:0;
}
.btn .progress-con{
	width: 6.7rem;height:0.1rem;background:#F1CAAD;position: absolute;bottom:0;left:0;
}
.btn .progress-circle{
	width:0.35rem;height:0.35rem;background:#fff;border:0.03rem solid #999;border-radius: 50%;position: absolute;bottom:-0.17rem;left:0.2rem;
}
.author{
	width:7.5rem;box-sizing: border-box;padding: 0.4rem 0.3rem;
}
.author .author-img{
	width:1.5rem;height:1.5rem;background:url(../img/hot1.png);background-size:cover;border-radius:50%;float:left;margin-right:0.3rem;
}
.author .author-center{
	width:3.5rem;font-size: 0.25rem;float: left;color:#999;
}
.author .author-center span{
	display: block;
}
.author .author-center span:nth-child(1){
	font-size:0.3rem;color:#333;line-height: 0.6rem;
}
.author .sixin{
	width:1.3rem;height:0.5rem;border-radius:0.1rem;background:#F2C5A3;float:right;font-size:0.29rem;color:#fff;text-align: center;line-height: 0.6rem;
}
/*foot*/
footer{
	width:7.5rem;height:1.3rem;display:flex;font-size: 0.4rem;justify-content: space-around;align-items:center;position: absolute;bottom: 0;left: 0;background:#373B3D;color:#fff;font-size:0.25rem;position: absolute;bottom: 0;left: 0;
}
footer>div{
	position: relative;
}
footer a{
	display:block;width:1.5rem;height:100%;line-height: 0.45rem;text-align: center;cursor: pointer;color:#fff;box-sizing: border-box;padding-top:0.15rem;
}
footer a .iconfont{
	font-size:0.5rem;
}
footer .active{
	background:#282C2E;
}
footer .foot-more{
	width:2.3rem;height:2.5rem;background:#373B3D;position: absolute;top:-3rem;right:0.3rem;border-radius:0.15rem;box-sizing: border-box;padding:0 0.3rem; display: none;
}
footer .foot-more li{
	line-height: 1.25rem;text-align: center;
}
footer .foot-more li span{
	margin-right:0.2rem;
}
footer .foot-more li:first-child{
	border-bottom: 0.03rem solid #ccc;
}
footer .foot-more .foot-san{
	width:0;
    height:0;
    border-width:0.3rem 0.25rem 0;
    border-style:solid;
    border-color:#373B3D transparent transparent;/*灰 透明 透明 */
    margin:0 0 0 1.2rem;
   
}


/*分享*/
.sharebg{
	width:7.5rem;height:9rem;background: url(../img/showbg1.png);background-size:cover;
}
.msk{
	width:7.5rem;height:9rem;background:rgba(0,0,0,.7);position: absolute;top:0;left:0;
}
.share{
	width:7.5rem;height:5.8rem;background: #fff;position: absolute;bottom:0;left:0;
}
.share-title{
	font-size:0.4rem;text-align: center;line-height: 1.2rem;
}

.share>.list{
	width:100%;height:3.5rem;font-size:0.3rem;text-align: center;line-height: 0.6rem;
	 display: flex;flex-direction: row;flex-wrap: wrap;
}
.share>.list li{
	width:33.33%;height:50%;column-count: 3;
}
.share>.list li span{
	display:block;width:0.9rem;height:0.9rem;background:blue;border-radius:50%;margin: 0 auto;color:#fff;text-align: center;line-height: 1rem;font-size: 0.5rem;
}
.share>.list li{
	color:#333;font-size:0.25rem;
}
.share>.cancle{
	display:block;width:5rem;height:0.7rem;border-radius: 0.1rem;border:0.03rem dashed #ccc;margin:0 auto;font-size:0.3rem;text-align: center;line-height: 0.7rem;cursor: pointer;color: #333;
}

/*送礼物*/
.gift-head{
	width:7.5rem;height:1.3rem;color:#333;font-size:0.25rem;text-align: center;line-height: 1.4rem;background: #F0F0F0;
}
.gift-head span{
	font-size: 0.5rem;
}
.gift-head a{
	float: left;color:#EEAE7F;font-size: 0.6rem;
}
.shadow{
	width:7.5rem;height:0.01rem;box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,.8);position: absolute;top:0;left:0;z-index: 9;
}
.gift-con{
	width:7.5rem;height:12.04rem;background:linear-gradient(to bottom,#EBEBEB,#FFF);box-sizing: border-box;padding:0.01rem 0;
}
.gift-top{
	width:7.1rem;height:1.1rem;margin:0.5rem auto;border:0.03rem solid #EEAE7F;border-radius:0.35rem;background:#fff;box-sizing: border-box;padding:0 0.4rem;display: flex;justify-content: space-between;align-items: center;font-size:0.3rem;
}
.gift-top div{
	color:#333;line-height: 0.6rem;
}
.gift-top span{
	font-size:0.5rem;color:#EDAB7A;height: 0.45rem;display: block;width: 0.6rem;float: left;    margin-top: 0.08rem;
}
.gift-top a{
	color:#999;
}
.gift-con ul{
	width:6.9rem;margin:0 auto;display: flex;flex-wrap: wrap;justify-content: space-between;
}
.gift-con ul li{
	width:30%; font-size: 0.3rem;text-align: center;line-height: 0.45rem;box-sizing: border-box;padding-bottom:0.2rem;
}
.gift-con ul li div:nth-child(1){
	width:2rem;height:2rem;border-radius: 0.2rem;background:url(../img/gift1.png) no-repeat center; background-size:cover;margin-bottom:0.2rem;
}
.gift-con ul li:nth-child(2) div:nth-child(1){
	background:url(../img/gift2.png) no-repeat center; background-size:cover;
}
.gift-con ul li:nth-child(3) div:nth-child(1){
	background:url(../img/gift3.png) no-repeat center; background-size:cover;
}
.gift-con ul li:nth-child(4) div:nth-child(1){
	background:url(../img/gift4.png) no-repeat center; background-size:cover;
}
.gift-con ul li:nth-child(5) div:nth-child(1){
	background:url(../img/gift5.png) no-repeat center; background-size:cover;
}
/*评论*/
#wrapper{
	width:100%;height:12rem;overflow: hidden;position: absolute;top:1.34rem;left:0;
}
.comment{
	background:#fff;border-bottom: 0.03rem solid #ccc;
}
.comment-list{
	width:7.1rem;margin:0 auto;
}
.comment-list li a{
	display: block;width:7.1rem;padding:0.3rem 0;border-bottom:0.03rem solid #eee;overflow: hidden;
}
.comment-list li a .left{
	width:1rem ;height:1rem;border-radius:50%;background: url(../img/hot3.png);background-size:cover;float: left;margin-right:0.3rem;
}
.comment-list li a .right{
	width:5.8rem;font-size: 0.3rem;float: left;color:#999;
}
.comment-list li a .right div:not(:last-child){
	margin-bottom:0.2rem;
}
.comment-list li a .right div:nth-child(2){
	color:#333;margin-bottom:0.3rem
}
.comment-list li a .right div span:nth-child(2){
	float: right;
}
.comment-list li a .right div span:nth-child(2) i{
margin-right: 0.2rem;
}
.comment-list li:last-child a{
border:0}
